<!DOCTYPE html>
<html lang="en">
<head>
   <title>My nginx</title>
   <style>
       body {
           width: 35em;
           margin: 0 auto;
           font-family: Tahoma, Verdana, Arial, sans-serif;
       }
   </style>   
</head>
<body>
   <h1>Welcome to nginx!</h1>
   <p>Hello from {{NAME}}</p>
</body>
</html>
